@using MVC_App.ViewModels.Product
@model ProductGetVM

<div width="100%">
   
        <img width="200" height="200"  style="object-fit:cover" src="~/assets//images/website-images/@Model.MainImagePath" alt="Card image cap">


        <img width="200" height="200"  style="object-fit:cover" src="~/assets//images/website-images/@Model.HoverImagePath" alt="Card image cap">


  
    <div >
        <h5 class="card-title">Name: @Model.Name</h5>
        <p class="card-text"> Description : @Model.Description</p>
        <p class="card-text"> Price: @Model.Price</p>
        <p class="card-text">Category Name: @Model.CategoryName</p>
        <p class="card-text">Tag Names: 
            
        @foreach(var name in Model.TagNames)
        {     
                <p>  * @name </p>
     
        }
        </p>



        <a asp-action="Index" asp-controller="Product" style="text-decoration:none;text-align:center;color:white;margin:5px 30px;width:170px;background:blue;border-radius:2px;font-size:20px;padding:5px 12px; cursor:pointer;"> Go Back</a>
    </div>
</div>